body {
    background-color: rgb(71, 71, 105);
    color: white;
}

#border {
    display: flex;
    align-items: center;
    width: 216px;
    height: 468px;
    /*BORDURES*/
    border-radius: 20px;
    border-style: solid;
    border-color: black;
}

#screen {
    width: 215px;
    height: 462px;
    background-color: rgb(94, 95, 95);
    /*BORDURES*/
    border-style: solid;
    border-radius: 20px;
    border-color: black;
}

#navbar {
    /*TEXTE*/
    color: white;
    font-size: 13px;
    text-align:end;
    /*--------------------------*/
    height: 20px;
    background-color: black;
    /*BORDURES*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid black;
    
}