<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Phone simulator</title>
</head>
<body>
    <!-- PHONE + BUTTONS -->
    <div class="div_phone">
        <img src="{{ url_for('static', filename='images/phone/button.png') }}" id="button" alt="button_phone">
        <img src="{{ url_for('static', filename='images/phone/button_song.png')}}" id="button_up" alt="button_song">
        <img src="{{ url_for('static', filename='images/phone/button_song.png')}}" id="button_down" alt="button_song">
        <img src="{{ url_for('static', filename='images/phone/phone_off.png')}}" id="phone" alt="phone">

        <!-- STATUS BAR -->
        <div class="status_bar">
                {% for img in status_bar_icons%}
                    <img src="{{"static/images/phone/status_bars/" + img + ".png"}}" id="img" alt="icons for status bars">
                {% endfor %}
        </div>

        <!-- GRID FOR DISPLAY APPS -->
        <div class="apps_grid">
                {% for img in app_icons%}
                    <img src="{{"static/images/icons/" + img + ".png"}}" id="img" alt="logo_apps">
                {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let buttonIsClicked = false;
            let button = document.getElementById('button');
            let phone = document.getElementById('phone');
            // Image -> Animation .gif
            button.addEventListener('click', () => {
                if(buttonIsClicked == false) {
                    phone.src = ("{{ url_for('static', filename='images/phone/phone_anim.gif')}}")
                    buttonIsClicked = true;
                setTimeout(() => {
                    phone.src = "{{ url_for('static', filename='images/phone/phone_on.png') }}";
                    document.querySelector('.apps_grid').style.visibility = 'visible';
                }, 4000);
                }
            });
        });
    </script>
</body>
</html>